---
title: Population Stats
---

<%= javascript_include_tag "population" %>

<h1>
  Population - EuroFlask
</h1>

<div id="country_list">
  <% euro_countries.each do |country, code| %>
    <%= link_to country, "/population?country=#{code}" %>
  <% end %>
</div>
